  <%- include('partials/header.ejs'); %>
  <div class="container">
  <h1>Hello <%= x %>!</h1>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="<%= y %>" />
      </div>
      <div class="col">
        <img src="<%= z %>" />
      </div>
      <div class="col">
        <img src="<%= w %>" />
      </div>
    </div>
  </div>
  <br>
  <a href="/logout" class="btn btn-primary">Logout</a>

  <% if (isAdmin) { %>
  <h2> Only admins can see this</h2>
  <a href="/admin" class="btn btn-primary">Admin</a>
  <% } %>

  <form action="addNewTodoItem" method="post">
    <label for="*">Add new list item</label>
    <input type="text" name="todoName" placeholder="Enter todo name">
    <input type="submit" value="Add Todo">
  </form>

  <ul>
    <% todos.forEach(function(todoItem){ %>
      <li>
        <ul>
          <li>
            <%= todoItem.name %>
          </li>
          <li>
            <%= todoItem.done %>
          </li>
          <li>
            <form action="deleteTodoItem" method="post">
              <input type="hidden" name=" x " value="<%= todoItem.name %>"> </input>
              <input type="submit" value="Delete">
            </form>
          </li>
          <li>
            <form action="updateTodoItem" method="post">
              <input type="hidden" name=" x " value="<%= todoItem.name %>"> </input>
              <input type="submit" value="Flip">
            </form>
          </li>
      </li>
  </ul>
  </li>
  <% }); %>
    </ul>

  </div>
  <%- include('partials/footer.ejs'); %>